<h2>Publications</h2>

<div>
  <%= link_to 'New publication', new_admin_publication_path, class: 'btn btn-primary' %>
</div>

<% @publications.each do |publication| %>
  <div class="card">
    <div class="card-header bg-secondary text-white">
      <h3 class="card-title"><%= publication.title %></h3>
    </div>
    <div class="card-body">
      <p><%= publication.description %></p>
      <p><%= publication.file_url %></p>
    </div>
    <%= link_to "View more details", admin_publication_path(publication), class: "card-link" %>
    <%= link_to "Edit", edit_admin_publication_path(publication), class: "card-link" %>
  </div>
<% end %>